body {
    background-color: #fbf9f7;
}

header{
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 20px;
}

.navbar-brand img{
    width:50px;
    height:50px;
}

.card-deck{
    padding-left: 2%;
    padding-right: 2%;
    width:90rem;
}

.card {
    width: 15%;
}

.produtosEmDestaque .card-img-top{
    max-width:130px;
    max-height:150px;
    width: auto;
    height: auto;
    align-self: center;
    padding-top: 3%;
}


.produtos .card-img-top{
    max-width:130px;
    max-height:150px;
    width: auto;
    height: auto;
    align-self: center;
    padding-top: 3%;
}

.servicos .card-img-top{
    max-width:230px;
    max-height:250px;
    width: auto;
    height: auto;
    align-self: center;
    padding-top: 3%;
}

.card-title{
    padding-top: 5%;
    font-size: 15px;
}

.card-text{
    color: #155724;
    font-size: 20px;
    font-weight: bold;
}
.card-footer {
    text-align: center;
    background-color:white;
}

.servicos{
    padding-top: 0%;
    font-family: 'Source Sans Pro', sans-serif;
    margin-left: 2%;
    margin-right: 2%;
    margin-bottom: 5%;
}

.produtos{
    padding-top: 0%;
    font-family: 'Source Sans Pro', sans-serif;
    margin-left: 2%;
    margin-right: 2%;
    margin-bottom: 5%;
}

.produtosEmDestaque {
    padding-top: 0%;
    font-family: 'Source Sans Pro', sans-serif;
    margin-left: 2%;
    margin-right: 2%;
    margin-bottom: 2%;
}

.categoria{
    padding-top: 2%;
    padding-bottom: 1%;
    font-family: 'Source Sans Pro', sans-serif;
    font-weight: bold;
    font-size: 25px;
    margin-left: 3%;
    text-transform: uppercase;
}

.cadastro{
    background-color: white;
    margin-left: 30%;
    margin-right: 30%;
    margin-top: 2%;
    margin-bottom: 5%;
    padding-left: 2%;
    padding-right: 2%;
    padding-top: 2%;
    padding-bottom: 2%;
    border-color: #565756;
    border-radius: 1%;
    box-shadow: 0 0 1em rgba(45, 45, 44, 0.29);
}

.cadastro .btn{
    background-color: #155724;
    border-color: #155724;
}
.cadastro .btn:hover{
    background-color: #012109;
    border-color: #012109;
}

.cadastro .btn:focus{
    background-color: #012109;
    border-color: #012109;
}

.carousel{
    margin-left: 2%;
    padding-left: 10%;
    background-color: #fbf9f7;
}


.btn-sm {
    background-color: #155724;
    border-color: #155724;
}

.btn-sm:hover {
    background-color: #012109;
    border-color: #012109;
}


.text-center .p-3{
    background-color: #155724;
    color: white;
    font-family: 'Source Sans Pro', sans-serif;
    font-size:15px;
}

.text-body {
    color: white
}

.text-muted {
    color: white;
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 20px;
}

/* Mobile form style */
@media screen and (max-width: 600px) {
    .cadastro {
        background-color: white;
        margin-left: 2%;
        margin-right: 2%;
        margin-top: 2%;
        margin-bottom: 10%;
        padding-left: 2%;
        padding-right: 2%;
        padding-top: 2%;
        padding-bottom: 2%;
        border-color: #565756;
        border-radius: 1%;
        box-shadow: 0 0 1em rgba(45, 45, 44, 0.29);
    }
  }
